.modal-content {
	padding-right: 1em !important;
	padding-left: 1em !important;
}

/* Spinning navbar firewheel*/
#navlogo {
	animation: navlogospin 5s linear infinite;
}

@keyframes navlogospin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
/**/

/* Pure CSS Gradient Background Animation from Codepen user Manuel Pinto */
body {
	background: linear-gradient(-45deg, rgba(0,0,0,1), rgba(50,0,11,1), rgba(40,29,1,1), rgba(10,31,21,1), rgba(0,36,52,1), rgba(1,5,40,1), rgba(1,56,49,1), rgba(12,55,201,1));
	background-size: 5000% 5000%;
	animation: gradient 50s linear infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {background-position: 0% 0%;}
	50% {background-position: 100% 100%;}
	100% {background-position: 0% 0%;}
}
/**/

.hero {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.hero-foot {
	background-color: rgba(0,0,0,.75) !important; 
	padding-top: 1em !important;
}

.hero-foot>.container>.columns {
	margin-bottom: 0em !important;
}

.foot-icon {
	color: rgba(255,255,255,.5) !important; 
	transition: color .5s !important;
}

.foot-icon:hover {
	color: rgba(255,255,255,1) !important;
}

.title {
	font-family: 'Noto Sans' !important; 
	color: rgba(255,255,255,1) !important;
}

.subtitle {
	font-family: 'Noto Sans' !important; 
	color:rgba(255,255,255,.75) !important;
	margin-bottom: .75em !important;
}

.button-style {
	color: white !important;
	border-width: 0 !important;
	background-color: rgba(12,55,201,.75) !important;
	transition: background-color .5s !important;
}

.button-style:hover {
	background-color: rgba(12,55,201,1) !important;
}

.link {
	color: orange !important;
	transition: color .5s !important;
}

.link:hover {
	color: white !important;
}

/*.press {
	opacity: 70% !important;
	transition: opacity .5s !important;
}

.press:hover {
	opacity: 100% !important;
}*/

hr {height: .01em !important; background-color: rgba(255,255,255,.75) !important;}